@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MSota</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@

    <button class="navbar-toggler" type="button">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="InsertDataAndStatisticsIf">Extract XML</a>
    </button>

    <button class="navbar-toggler" type="button" >
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ViewDataAndStatistics">View Statistics</a>
    </button>

</div>
