@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MSota</h1>

    <input type="button" value="Extract From XML" onclick="location.href='@Url.Action("ExtractAndAddDataOnClick", "ButtonClick")'" />

    <input type="button" value="Show Statistics" onclick="location.href='@Url.Action("RetriveDataOnClick", "ButtonClick")'" />

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
