@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MSota</h1>
    <p>Confirm how Broke you are</p>

    <input type="button" value="Create" onclick="location.href='@Url.Action("HandleButtonClick", "ButtonClick")'" />
    @*@using (Html.BeginForm("HandleButtonClick"))

    {
    <button onclick="" type="submit" name="bClick">Begin</button>
    }*@

</div>
